.main-color{
  color : #001973;
}

.main-background{
  background-color : #001973;
}
.hero-logo{
  max-width: 250px;
  height: auto;
}

.fa-li i{
  font-size: 18px !important;
}

.list-products{
  margin-left: 60px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);;
  font-size: 15px;
}

.stamp{
  margin-bottom: 5px;
  padding: 10px 100px;
  width: 100%;
  height: auto;
}

.product-table{
  padding: 10px 30px;
}

.rociador.naranja td{
  background-color: #ed7d31;
}
.rociador.rojo td{
  background-color: #c00000;
}
.rociador.amarillo td{
  background-color: #ffff00;
}
.rociador.verde td{
  background-color: #92d050;
}
.rociador.azul td{
  background-color: #2e75b6;
}
.rociador.morado td{
  background-color: #7030a0;
}

/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/
.clients .swiper {
  padding: 10px 0;
}

.clients .swiper-wrapper {
  height: auto;
}

.clients .swiper-slide img {
  transition: 0.3s;
}

.clients .swiper-slide img:hover {
  transform: scale(1.1);
}

.h-30{
  height: 30px;
}

.portals ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #b3c4ff;
  align-items: baseline;
}

.portals ul li + li::before {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.5);
  content: "/";
}

.portals ul a {
  color: white;
  font-size: 14px
}

@media (max-width: 576px) {
  .portals ul a {
    font-size: 10px
  }
}
/*
	Cambios por Edgar
*/

@media (min-width: 1200px) {
    .navmenu a, .navmenu a:focus {
        font-size: 24px;
    }
}


.contact .info-item .whats {
    background: #2fc746;
}